@model List<CheeseMVC.Models.CheeseCategory>

<h2>@ViewBag.Title</h2>


<ol>

    @foreach (var cheeseCategory in Model)
    {

        <li>@cheeseCategory.Name</li>

    }
</ol>
<p><a asp-controller="Category" asp-action="Add">Add Category</a></p>





    
