@model CheeseMVC.ViewModels.ViewMenuViewModel

@{
    ViewBag.Title = Model.Menu.Name;

}

<div>
    <h2>@Model.Menu.Name</h2>
</div>



<ol>
    @foreach (var cheeseMenu in Model.Items)
    {

        <li>@cheeseMenu.Cheese.Name</li>

    }
</ol>

<p><a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add Menu Items</a></p>
